.user-Info {
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;

  h2 {
    text-align: center;
    font-weight: bold;
    color: var(--text-title-color);
  }

  p {
    // padding-left: 30%;
    text-align: left;

    strong {
      color: var(--main-color);
    }
  }
}

.user-item {
  display: flex;
  flex-wrap: wrap;
}

.order-History {
  border-radius: 10px;
  margin-bottom: 20px;

  h2 {
    text-align: center;
    font-weight: bold;
    color: var(--text-title-color);
  }
}

.order-frame {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 16px;
}

.info-frame {
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 15px 10px 0px 15px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

@media (max-width: 768px) {

  .user-Info,
  .order-History {
    padding: 15px;

    h2 {
      font-size: 1.5rem;
    }
  }

  .info-frame p {
    padding-left: 0;
  }
}

@media (max-width: 375px) {

  .user-Info,
  .order-History {
    padding: 10px;

    h2 {
      font-size: 1.2rem;
    }
  }

  .info-frame p {
    padding-left: 0;
  }
}