.fs-xxl {
    font-size: var(--fs-xxl);
}

.text-title-color {
    color: var(--text-title-color);
}

.font-arial {
    font-family: 'Arial';
}

.f-bold {
    font-weight: bold;
}

.fw-700 {
    font-weight: 700;
}

.h-70p {
    height: 60px;
}

.slider {
    width: 100%;
}

.fs-lg {
    font-size: var(--fs-lg);
}

.background-color {
    background-color: var(--background-color);
}

/* Thêm đoạn CSS này vào file SCSS của bạn */
.slick-slide img {
    width: 100%;
    height: auto;
}


/* Thêm đoạn CSS này vào file CSS của bạn */
.slick-slide img {
    width: 100%;
    height: auto;
}